html *
{
   
   font-family: 'Montserrat', sans-serif !important;
}
body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    background: linear-gradient(rgb(255, 255, 255), rgb(201, 176, 255))fixed;
    background-image: url(img/Nav.jpg);
    background-attachment: fixed;
    background-position:center center ;
    background-size:cover ;
}
.header{
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction:row;
    background-color: rgb(172, 204, 255);
    background-image: url(img/Fon.webp);
}
.ikon{
    width: 33.33%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.ikon{
    width: 40%;
    height: 20%;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.navi{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}.contact{
    width: 40%;

}
.ikonSaiz{
    width: 100%;
    height:100%;
    margin: 0;
}
.back{
    border: 1px black solid;
    width: 100%;
    height: 150px;
}
.buttonSaiz{
width: 200%;
height: 190%;
color: #ffdb8f;

}
.ul1{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 20px;
}
.zagolovok{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    font-family: 'segoe print';
    color: white;
}
.menu{
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
}
.menu2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.menu3{
    width: 90%;
    height: 100px; 
}
.bottonSaiz{
width: 100%;
}
.contet{
    width: 100%;
    height: 600px;
}
.conteinerContent{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.conteinerUntific{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: row;
}
.conteinerEdit{
   
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.conteinerWindow{
    width: 15.33%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window{
    background-color: white;
 width: 150px;
 height: 150px;
 border: 1px black solid;
}
.conteinerName{
    width: 33.33%;
    height: 250px;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;

}
.name{
    width: 100%;
    height: 250px;
    display: flex;
}
.buttonEdit1{
    width: 50%;
    height: 100%;
    justify-items: start;
    align-content: end;
    margin-left: 50px;
    
}

.text{
    font-family: 'segoe print';
    font-size: 30px;
    color: white;
}
.texts{
    margin-top: 60px;
    font-size: 20px;
    color: white;
}
.backgoundSlaid{
    background: no-repeat;
    background-image: url(img/Fons.webp);
}
p {
    margin: 0 auto;
    display: flex;
    color: white;
    font-size: 20px;
    align-items: flex-end;
}
.yavka{
    margin: 0;
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
    width: 100px;
    border-bottom: 1px solid black;
justify-content: center;
}
.pridut{
    display: flex;
    margin-top: 12px;
    width: 100%;
    justify-content: space-between;

}
p1, p2{
    color: white;
    font-size: 20px;
}
p1 {
    
    margin-left: 70px;
}
.nePridut{
    width: 200px; display: flex;
    justify-content: center;
    align-items: center;
}
.nChel{background-color: rgb(0, 115, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
      margin-right: 500px;
      border:  2px solid aqua;
}
.conteinerPodcherk{
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}
.ychastnik{
    border: 6px solid blue;
    background-color: white;
    width: 30%;
    height: 200px;
    margin-left: 75px;
    margin-top: 20px;
}